:root {
  --main-green: rgba(50,204,51,255);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.justify-content-between {
  justify-content: space-between;
}

.prev-page {
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: var(--main-green);
  color: white;
  border-radius: 5px;
  font-size: 20px;
}
